.message{
    width: 100%;
    padding: 1em;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success {
    color:rgb(22, 160, 22);
    background-color: #d8ffd3;
    border-color: #c3ecbe
}

.error {
    color:rgb(197, 13, 13);
    background-color: #ffebeb;
    border-color: #ecbebe
}